/* html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
#codeContainer {
    white-space: pre-wrap;
    background-color: #1e1e1e;
    color: #d4d4d4;
    padding: 10px;
    font-family: Consolas, monospace;
    font-size: 14px;
    height: 100%;
    box-sizing: border-box;
} */

@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css');

#al-code-container {
    overflow-x: auto;
    white-space: pre-wrap;
    background-color: #1e1e1e;
    color: #d4d4d4;
    padding: 10px;
    font-family: Consolas, monospace;
    font-size: 14px;
    height: 100%;
    box-sizing: border-box;
}

#al-code-block {
    font-family: Consolas, Monaco, 'Courier New', monospace;
    font-size: 14px;
}

